.header{
    display: flex;
    flex-direction: column;
    @include respondTo(old-phones) {
        &:hover{
            .menu:hover + .navbar{
                display: flex;
            }
        }
    }
}